<%= form_for :short_url, :url=> '#', :html=>{ :id => :short_form } do |f| %>
  <ul class="input-list">
    <li class="item">
      <%= f.label :origin, "введите адрес который нужно сократить:" %>
      <%= f.text_field :origin %>
    </li>
    <li class="item"><%= submit_tag 'создать ссылку', :class=>'submit_button' %></li>
  </ul>
<%end%>

<script>
  $('#short_form').submit(function() {
    form_data = $(this).serialize();
    $('#message').remove();
    $.ajax({
      type: 'post',
      dataType: 'json',
      url: '<%= shorteners_path %>',
      data: form_data,
      success: function(data) {
        if(data.error_message) {
          SMBS.Application.show_error(data.error_message);
        }
        if(data.html) {
          $('#short_url_element').prepend(data.html).trigger('change');
        }
      }
    });
    return false;
  });
</script>
