<% content_for :head do %>
   <script type="text/javascript" src="http://www.google.com/jsapi"></script>
<%end%>


<script>
  SMBS.Shortener.Clicks.init(<%= @short_url.id %>);
  SMBS.Shortener.Regions.init(<%= @short_url.id %>);
</script>

<div class="grid_8 alpha">
  <h3>Cтатистика переходов<%= ": " + truncate(@short_url.mobile_campaign.title) if @short_url.mobile_campaign %></h3>
  <p>Ресурс: <%= short_url_title_with_origin_link_pair(@short_url) %></p>
  <p>Общее количество просмотров (за весь период): </span><strong class="h2"><%= @short_url.clicks_count %></strong></p>
  
  <div id="clicks_report"></div>

  <h3>Статистика по городам</h3>
  <div id="regions_report"></div>
  
</div>

<div class="grid_4 omega">
    <p><%= link_to "Статистика в таблице", details_statistic_path(@short_url), :class => "button" %></p>
    <p><strong>КАК СОБИРАЕТСЯ ИНФОРМАЦИЯ:</strong></p>
    <p>Статистика посещений содержит информацию о пользовательских переходах по короткому адресу. Когда пользователь отправляет запрос на открытие страницы (переходит по ссылке), сервер определяет мобильный телефон пользователя и ближайшие географические координаты его интернет соединения. На основании этих данных мы формируем отчет о посетителях вашей страницы.</p>
    <p><strong>НОВЫЕ ВОЗМОЖНОСТИ:</strong></p>
    <p>В скором времени мы планируем добавить новые возможности. Среди важных улучшений можно выделить:</p>
    <ul>
      <li>Раздельный подсчет и отображение посещений только с мобильного;</li>
      <li>Отображение суммарного графика всех мобильных телефонов которые использовали пользователи;</li>
      <li>Формирование развернутого отчета в виде Excel файла;</li>
      <li>Память уникального адреса: первый шаг защиты от накручивания;</li>
    </ul>
</div>