<% content_for :head do %>
   <script type="text/javascript" src="http://www.google.com/jsapi"></script>
   <%= javascript_include_tag 'analytic/shortener' %>
<%end%>


<script>
  SMBS.Shortener.Clicks.init(<%= @short_url.id %>);
  SMBS.Shortener.Regions.init(<%= @short_url.id %>);
</script>

<div class="grid_8 alpha">
  <h2>Общая статистика переходов</h2>
  <p>Ресурс: <%= link_to @short_url.short_url(request) %> &rarr; <%= link_to @short_url.origin, @short_url.origin %></p>
  <p>Дата создания: <%= l @short_url.created_at.to_date, :format=> :long %></p>
    
  <div id="clicks_report"></div>

  <h2>Статистика по городам</h2>
  <div id="regions_report"></div>
  
</div>

<div class="grid_4 omega">
    <p><strong>КАК ИСПОЛЬЗОВАТЬ:</strong></p>
</div>