<div class="grid_8 alpha">
  <p><%= flash[:notice] %></p>
  <h3>Начните использовать мобильники ваших клиентов!</h3>
  
  <p>Благодаря сервису ЯМКО вы сможете:</p>
  <ul class="benefit-list">
    <li class="item">Создать мобильный сайт вашего бизнеса или вашей рекламной акции в течении всего 10 мин.</li>
    <li class="item">С помощью простого редактора вы можете загружать изображения ваших блюд, размещать галерею ваших товаров.</li>
    <li class="item">Просматривать статистику о посетилелях - это поможет вам оценить эффективность вашей рекламы.</li>
    <li class="item">Получить постоянную ссылку на ваш мобильный сайт и использовать его в смс рассылках.</li>
    <li class="item">Вы также можете использовать несколько ссылок для того чтоб определить какая рассылка привлекла больше внимания.</li>
  </ul>
</div>

<div class="grid_4 omega">
  <p><%= flash[:error] %></p>
  <%= form_for :invite, :url => invite_path do |f| %>
    <ul class="input-list">
      <li class="item">
        <%= f.label :company, "*название компании:" %>
        <%= f.text_field :company, :class => 'small text-field' %>
      </li>
      <li class="item">
        <%= f.label :email, "*контактный email:" %>
        <%= f.text_field :email, :class => 'small text-field' %>
      </li>
      <li class="item">
        <%= f.label :phone, "*контактный телефон:" %>
        <%= f.text_field :phone, :class => 'small text-field' %>
      </li>
      <li>
        <%= submit_tag "Пригласить меня", :class=>'submit_button' %>
      </li>
    </ul>
  <%end%>
  <p>Выслав нам заполненую заявку Вы получите возможность одним из первых получить аккаунт.</p>
</div>