<div class="history_item">
  <custom name="resource"><%= bar_code.id %></custom>
  <p class="date"><%= l bar_code.created_at, :format=> :short %></p>
  <p class="images"><%= image_tag BarbyBarcode.image_path(:id=> bar_code.id), :class => 'qr-code-preview' %></p>
  <div class="info">
    <p class="title">
      <span><%= qr_code_title(bar_code) %></span>
      <p><%= qr_code_description(bar_code) %></p>
      <ul class="history_actions">
        <li><%= link_to "Cкачать изображение", download_barcode_path(bar_code) %></li>
        <li><%= link_to "Удалить", "#", :class => 'remove' %></li>
      </ul>
    </p>
  </div>
</div>
