<div class="history_item">
  <custom name="resource"><%= bar_code.id %></custom>
  <div class="date"><%= l(bar_code.created_at.to_date, :format=> :short) %></div>
  <div class="images"><img alt="<%= qr_code_title(bar_code) %>" class="qr-code-preview" src="/<%= BarbyBarcode.image_path(:id=> bar_code.id) %>"/></div>
  <div class="info">
    <p class="title">
      <span><%= qr_code_title(bar_code) %></span>
      <p><%= raw qr_code_description(bar_code) %></p>
      <ul class="history_actions">
        <li><%= link_to "Cкачать изображение", download_barcode_path(bar_code) %></li>
        <li><%= link_to "Удалить", "#", :class => 'remove' %></li>
      </ul>
    </p>
  </div>
</div>
