<h3>Мобильные страницы</h3>

<%= render :partial => 'actions' %>

<h3>Ожидающие публикации</h3>

<ul>
  <% @pending_campaigns.each do |mbc| %>
  <li class="item">
    <span><%= link_to campaign_title_with_shortener(mbc), mobile_app_campaign_url(mbc), :target => 'blank' %></span>
    <div class="actions">
      <span class="posL"><%= button_to 'Опубликовать', publish_admin_mobile_campaign_path(mbc), :method => :put %></span>
      <span class="posL"><%= button_to 'Отправить на доработку', cancel_admin_mobile_campaign_path(mbc), :method => :put %></span>
      <span><%= button_to 'Архивировать', archive_admin_mobile_campaign_path(mbc), :method => :put %></span>
    </div>
  </li>
  <%end%>
</ul>