<h3>Мобильные страницы</h3>

<%= render :partial => 'actions' %>

<h3>Опубликованые</h3>

<ul>
  <% @published_campaigns.each do |mbc| %>
  <li class="item">
    <span>
      <%= link_to truncate(mbc.title, :length => 80), mobile_app_campaign_url(mbc), :target => 'blank' %> <%= campaign_clicks_counter(mbc) %>; <%= campaign_short_url_link_title(mbc) %>
    </span>
    <div class="actions">
      <span class="posL"><%= button_to 'Cнять с публикации', unpublish_admin_mobile_campaign_path(mbc), :method => :put %></span>
      <span class="posL"><%= button_to 'Отправить на доработку', cancel_admin_mobile_campaign_path(mbc), :method => :put %></span>
      <span><%= button_to 'Архивировать', archive_admin_mobile_campaign_path(mbc), :method => :put %></span>
    </div>
  </li>
  <%end%>
</ul>