<div class="block-center">
  <ul class="input-list">
    <li class="item">
      <p><%= form.label :full_name, "имя и фамилия:" %></p>
      <p class="field"><%= form.text_field :full_name, :class => "text-field" %></p>
    </li>
    <li class="item">
      <p><%= form.label :email, "контактный email:" %></p>
      <p class="field"><%= form.text_field :email, :class => "text-field" %></p>
    </li>
  </ul>
</div>
<div class="block-center">
  <%= submit_tag "Сохранить изменения" %>
</div>
