<h3><%= account_pages_title %></h3>

<%= render :partial => 'admin/accounts/actions' %>

<h2>Редактировать пользователя <%= @user.full_name %></h2>

<ul>
  <li>Статус: <%= humanize_state(@user.state) %></li>
  <% if last_login_at = @user.last_login_at %>
    <li>Последний логин: <%= time_ago_in_words last_login_at %> назад (<%= l last_login_at, :format => :long %>)</li>
  <%end%>
</ul>

<div>
  <%= switch_state_action_button(:path => admin_account_user_path(@account, @user), :current_state => @user.state) unless is_current?(@user) %>
</div>
<%= error_messages_for :user, :header_message => nil, :message => nil -%>
<%= form_for :user, :url => admin_account_user_path(@account, @user), :html => { :method => :put } do |form| %>
  <%= render :partial => 'form', :object => form %>
<%end%>
