<h1><%= account_pages_title %></h1>

<%= render :partial => 'admin/accounts/actions' %>

<h2>Добавить нового пользователя</h2>

<%= error_messages_for :user, :header_message => nil, :message => nil -%>
<%= form_for :user, :url => admin_account_users_path(@account), :html => { :method => :post } do |form| %>
  <%= render :partial => 'form', :object => form %>
<%end%>
