<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= @mbc.title %></title>
    <style type="text/css"><%= controller.compress_css render(:partial => 'default_css') %></style>
  </head>
  
  <body>
    <% @document_model.each do |entity| -%>
        <% if controller.is_a_data?(entity, 'header') -%>
          <%= raw controller.t9e(entity[:value], :header) %>
        <% end -%>
        <% if controller.is_a_data?(entity, 'text') -%>
          <div class="cm"><%= raw controller.t9e(entity[:value], :text) %></div>
        <% end -%>
        <% if controller.is_a_data?(entity, 'images') -%>
          <div class="cm" style="text-align: center;">
          <% controller.prepared_images(entity[:value]).each do |image| -%>
              <a href="<%= image[:instance].asset.url(:preview) %>"><img src="<%= image[:instance].asset.url(image[:style]) %>" style="width: <%= image[:width] %>"/></a>
          <% end -%>
          </div>
          <div class="clear">&nbsp;</div>
        <% end -%>
    <% end -%>
    <div class="cm">
      <br/>
      <span class="cpr"><%= link_to "Ямко", "http://yamco.mobi" %>&copy; <%= Time.now.year %></span>
    </div>
  </body>
</html>