<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= @mbc.title %></title>
    <style type="text/css"><%= compress_css render(:partial => 'rackup/shared/layout_css') %></style>
  </head>
  
  <body>
    <div class="hd row pos-c">
      <span><%= link_to "yamco.mobi", "http://yamco.mobi" %> - лучшие предложения города</span>
    </div>
    <div class="bd">
    <% @document_model.each do |entity| -%>
        <% if controller.is_a_data?(entity, 'header') -%>
          <%== controller.t9e(entity[:value], :header) %>
        <% end -%>
        <% if controller.is_a_data?(entity, 'text') -%>
          <div class="c-block"><%== controller.t9e(entity[:value], :text) %></div>
        <% end -%>
        <% if controller.is_a_data?(entity, 'images') -%>
          <div class="c-block pos-c">
          <% controller.prepared_images(entity[:value]).each do |image| -%>
              <a href="<%= image[:instance].asset.url(:preview) %>"><img src="<%= image[:instance].asset.url(image[:style]) %>" style="width: <%= image[:width] %>"/></a>
          <% end -%>
          </div>
          <div class="clear">&nbsp;</div>
        <% end -%>
    <% end -%>
    </div>
    <% unless @see_more.empty? -%>
      <div class="other">
        <ul class="other-list">
            <li class="item title"><span>смотрите также:</span></li>
          <% @see_more.each do |mbc| -%>
            <li class="item"><%= link_to mbc.title, mbc.short_url.link %></li>
          <%end-%>
        </ul>
      </div>
    <%end-%>
    <div class="ft row pos-c">
      <ul class="ft-list">
        <li class="item"><span class="cpr">Ямко &copy;<%= Time.now.year %></span></li>
        <li class="item navi"><%= link_to "Главная", "http://yamco.mobi" %></li>
      </ul>
    </div>
  </body>
</html>