<% content_for :head do %>
  <%= include_stylesheets :mobile_campaign %>
  <%= include_javascripts :mobile_campaign_builder %>
<%end%>


<div class="grid_8 alpha">
  <div class="controls">
    <input id="title" name="title" value="<%= render_document_title(@campaign) %>" />
    <ul class="actions">
      <li><a id="save" href="#" class="button">Сохранить</a> <%= link_to 'Закрыть', mobile_campaigns_path, :class=> "button" %></li>
      <li><a id="settings" href="#" class="button">Настройки</a></li>
    </ul>
    <div class="clear">&nbsp;</div> 
  </div>
  
  <div id="document"></div>
  
  <div id="document_partials">
    <ul>
      <li><a href="#" class="header">Заголовок</a></li>
      <li><a href="#" class="text">Текстовый блок</a></li>
      <li><a href="#" class="delimiter">Разделитель</a></li>
      <li><a href="#" class="images">Изображения</a></li>
      <li><a href="#" class="likeit">Мне нравится!</a></li>
    </ul>
  </div>
</div>

<div class="grid_4 omega">
  <div class="widget-container grid_4"><%= render :partial => 'image_gallery_widget' %></div>
</div>