<% content_for :head do %>

  <%= stylesheet_link_tag 'vendor/jquery-ui', 
    'vendor/fileuploader', 
    'mobcn/layout', 
    :cache => 'all_mobcn_builder' %>

    <%= javascript_include_tag 'vendor/jquery-ui-min', 
      'vendor/inheritance', 
      'vendor/fileuploader', 
      'mobcn/builder/partial_behaviour', 
      'mobcn/builder/images_behaviour', 
      'mobcn/builder/texts_behaviour', 
      'mobcn/builder/headers_behaviour', 
      'mobcn/builder/delimiters_behaviour',
      'mobcn/builder/likeits_behaviour',
      'mobcn/image_gallery_widget',
      'mobcn/builder',
      'mobcn/initializer',
      :cache => 'all_mobcn_builder' %>
      
    <%end%>
<%end%>


<div class="grid_8 alpha">
  <div class="controls">
    <input id="title" name="title" value="<%= render_document_title(@campaign) %>" />
    <ul class="actions">
      <li><a id="save" href="#" class="button">Сохранить</a> <%= link_to 'Закрыть', mobile_campaigns_path, :class=> "button" %></li>
      <li><a id="settings" href="#" class="button">Настройки</a></li>
    </ul>
    <div class="clear">&nbsp;</div> 
  </div>
  
  <div id="document"></div>
  
  <div id="document_partials">
    <ul>
      <li id="header">Заголовок</li>
      <li id="text">Текстовый блок</li>
      <li id="delimiter">Разделитель</li>
      <li id="images">Изображения</li>
      <li id="likeit">Мне нравится!</li>
    </ul>
  </div>
</div>

<div class="grid_4 omega">
  <div class="widget-container grid_4"><%= render :partial => 'image_gallery_widget' %></div>
</div>