<% content_for :head do %>

  <%= stylesheet_link_tag 'mobcn/layout' %>
  <%= javascript_include_tag 'mobcn/preview' -%>

<%end%>

<script>
  SMBS.MobileCampaign.Preview.init('<%= mobile_campaign_path(@campaign) %>');
</script>

<div class="grid_8 alpha">
  <div id="action">
    <input id="title" name="title" value="<%= render_document_title(@campaign) %>" disabled="true"/>
    <ul>
      <li><%= link_to "Редактировать", edit_mobile_campaign_path(@campaign) %> (<%= link_to 'Закрыть', mobile_campaigns_path %>)</li>
    </ul>
    <div class="clear">&nbsp;</div>
  </div>
  
  <div id="preview"></div>
  
</div>

<div class="grid_4 omega">
  <p><strong>Проверте отображение:</strong></p>
  <ul id="resolutions">
    <li><a href="#">128x160</a> Samsung SGH j700i</li>
    <li><a href="#">176x220</a> Nokia 2705</li>
    <li><a href="#">240x320</a> Nokia 5310</li>
    <li><a href="#">320x480</a> HTC Hero/Apple iPhone</li>
    <li><a href="#">480x800</a> Google Nexus One</li>
  </ul>
</div>