<% content_for :head do %>

  <%= stylesheet_link_tag 'mobcn/layout' %>
  <%= javascript_include_tag 'mobcn/preview' -%>

<%end%>

<script>
  SMBS.MobileCampaign.Preview.init('<%= mobile_app_campaign_url(@campaign) %>');
</script>

<div class="grid_8 alpha">
  <div class="controls">
    <input id="title" name="title" value="<%= render_document_title(@campaign) %>" disabled="true"/>
    <ul class="actions">
      <li><%= link_to "Редактировать", edit_mobile_campaign_path(@campaign), :class => "button" %> <%= link_to 'Закрыть', mobile_campaigns_path, :class => "button" %></li>
    </ul>
    <div class="clear">&nbsp;</div>
  </div>
  <div id="preview" style="margin-top: 10px;"></div>
</div>

<div class="grid_4 omega">
  <p><strong>Проверте отображение:</strong></p>
  <ul id="resolutions">
    <li><a href="#">176x220</a> Samsung S3310</li>
    <li><a href="#">240x320</a> Nokia X3-02</li>
    <li><a href="#">360x640</a> Nokia C7</li>
    <li><a href="#">320x480</a> HTC Hero/Apple iPhone</li>
    <li><a href="#">480x854</a> Sony Ericsson XPERIA U10</li>
  </ul>
  
<% if @campaign.short_url %>
  <div>
    <p><strong>Короткий адрес:</strong></p>
    <%= short_url_title_with_origin_link_pair(@campaign.short_url) %>
  </div>
<%end%>
  
  <div>
    <p><strong><%= @campaign.short_url ? "Изменить" : "Установить" %> короткий адрес:</strong></p>
    <ul class="input-list">
        <li class="item">
          <%= button_to 'Создать автоматически', generate_short_url_mobile_campaign_path(@campaign), :method => :put %>
        </li>
    <%= form_tag assign_short_url_mobile_campaign_path(@campaign), :method => :put do %>
        <li class="item">
          <%= label_tag 'short_url', "введите новый адрес:" %>
          <%= text_field_tag 'short_url' %>
        </li>
        <li class="item"><%= submit_tag 'Добавить', :class=> 'submit_button' %></li>
      </ul>
    <%end%>
  </div>
  
  <div>
    <p><strong>Статус страницы:</strong></p>
    <ul class="input-list">
      <li class="item"><%= switch_campaign_state_button(@campaign) %></li>
    </ul>
  </div>
</div>