<div class="grid_12">
  <div class="menu">
    <ul>
      <%if current_user -%>
        <li><%#= link_to "Главная", root_url %></li>
        <li><%= link_to "Короткие адреса", shorteners_path %></li>
        <li><%= link_to "Мобильныe страницы", mobile_campaigns_path%></li>
        <li><%= link_to "QR коды", barcodes_path %></li>
        <li><%= link_to "Панель управления", account_dashboard_url %></li>
        <li><%= link_to "Выход", logout_path %></li>
      <%else%>
        <li><%= link_to("Главная", root_url) if     controller_name == 'sessions' %></li>
        <li><%= link_to("Вход", login_path)  unless controller_name == 'sessions' %></li>
      <%end%>
    </ul>
  </div>
</div>