<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Ямко - Ярмарка мобильных коммуникаций</title>
      
      <%= web_resource_bundler_process do %>
      
        <%= stylesheet_link_tag 'reset', '960', 
          'layout', 'content', 'libraries', 'modules', 
          'popup', 'bubble', 
          :cache => true %>
        
        <%= javascript_include_tag 'vendor/jquery-min', 'vendor/rails', 'smbs', :cache => true %>
      
      <%end%>
      
      <%= csrf_meta_tag %>
      
      <%= yield :head %>
    </head>
    <body>
       <%= render :partial => 'layouts/flash_wrapper' %>
       <div class="container_12">
         <div class="clear">&nbsp;</div>
         <div class="grid_12 head">
           <%= render :partial => 'layouts/pretend_menu' %>
           <%= render :partial => "layouts/header"%>
         </div>
         <div class="grid_12 page">
          <%= yield %>
        </div>
       </div>
       <% unless controller_path == 'welcome'-%>
         <%= render :partial => 'layouts/unsupported_browser'-%>
       <%end-%>
       <div class="clear">&nbsp;</div>
       <%= render :partial => 'layouts/footer' %>
    </body>
</html>
