<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Best Sales Group Project</title>
      <%= stylesheet_link_tag 'reset', '960', 'layout', 'text', :cache=> true %>
      <%= javascript_include_tag 'vendor/jquery-min', 'vendor/rails', 'smbs', :cache=> true %>
      <%= csrf_meta_tag %>
       <%= yield :head %>
    </head>
    <body>
       <div class="container_12">
         <div class="clear">&nbsp;</div>
 
         <div class="grid_12" id="header">
          <%=render :partial => "shared/header"%>
         </div>
 
         <div class="grid_12 page">
          <%= yield %>
        </div>
       </div>
    </body>
</html>
