<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Ямко: Панель управления</title>
      
      <%= include_stylesheets :application, :media => 'all' %>
      <%= include_javascripts :application %>
      
      <%if current_user.account.is?(:yamco) -%>
        <%= include_javascripts :admin_dashboard %>
      <%end-%>
      
      <%= csrf_meta_tag %>
      
      <%= yield :head %>
    </head>
    <body>
       <%= render :partial => 'layouts/flash_wrapper' %>
       <div class="container_12">
         <div class="grid_12 head">
           <%= render :partial => 'layouts/pretend_menu' %>
           <%= render :partial => 'layouts/header' %>
         </div>
 
         <div class="grid_12 page">
           <div class="grid_9 alpha">
              <%= yield %>
           </div>
           <div class="grid_3 omega"><%= render :partial => "layouts/dashboard/#{current_user.account.kind_of}_dashboard_tools" %></div>
        </div>
       </div>
       <% unless controller_path == 'welcome'-%>
         <%= render :partial => 'layouts/unsupported_browser'-%>
       <%end-%>
       <div class="clear">&nbsp;</div>
       <%= render :partial => 'layouts/footer' %>
    </body>
</html>
