<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Ямко: Панель управления</title>
      <%= stylesheet_link_tag 'reset', '960', 'layout', 'content', 'libraries', :cache => true %>
      <%= javascript_include_tag 'vendor/jquery-min', 'vendor/rails', 'smbs', :cache => true %>
      <%= csrf_meta_tag %>
      <%= yield :head %>
    </head>
    <body>
       <div class="container_12">
         <div class="clear">&nbsp;</div>
 
         <div class="grid_12 head">
           <%= render :partial => 'layouts/pretend_menu' %>
           <%= render :partial => 'layouts/header' %>
         </div>
 
         <div class="grid_12 page">
           <div class="grid_9 alpha">
              <%= render :partial => 'layouts/notice' %>
              <%= yield %>
           </div>
           <div class="grid_3 omega"><%= render :partial => "layouts/dashboard/#{current_user.account.kind_of}_dashboard_tools" %></div>
        </div>
       </div>
    </body>
</html>
